.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn.disabled, 
.btn:disabled  {
  pointer-events: none; /* Makes the button non-clickable */
  cursor: not-allowed;  /* Sets the desired cursor */
}

/* Workaround to enable cursor hover effect: */
.btn.disabled:hover {
    cursor: not-allowed; 
}

img.card-img-top:hover {
  cursor: pointer;
}